.page_wrapper_login {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.page_login_left {
  display: flex;
  justify-content: center;
  z-index: 99;
  background: rgb(36, 36, 36);
  background: -moz-linear-gradient(
    325deg,
    rgba(36, 36, 36, 1) 0%,
    rgba(37, 36, 37, 1) 80%,
    rgba(62, 49, 74, 1) 100%
  );
  background: -webkit-linear-gradient(
    325deg,
    rgba(36, 36, 36, 1) 0%,
    rgba(37, 36, 37, 1) 80%,
    rgba(62, 49, 74, 1) 100%
  );
  background: linear-gradient(
    325deg,
    rgba(36, 36, 36, 1) 0%,
    rgba(37, 36, 37, 1) 80%,
    rgba(62, 49, 74, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#242424",endColorstr="#3e314a",GradientType=1);
}
.left_logo {
  max-width: 70rem;
  max-height: 69rem;
  object-fit: cover;
  margin-top: 7.2rem;
  margin-bottom: 3rem;
}
.page_login_right {
  position: relative;
}
.login_form_wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -15rem;
  width: 50rem;
  min-height: 70rem;
  -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: #fff;
  z-index: 1000;
}

.login_form_wrapper img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: 3rem;
}
.subtitle {
  font-size: 2.2rem;
  color: #473558;
}
.login_field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  padding: 1rem;
}
.submit_btn_register,
.submit_btn,
.login_input {
  min-width: 28rem;
  border: 2px solid #666666;
  border-radius: 1rem;
  color: #707070;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 1.2rem;
  padding: 1rem;
}
.submit_btn_register,
.submit_btn {
  background: #625a99;
  border: none;
  color: #fff;
  margin-bottom: 4rem;
  cursor: pointer;
}
.submit_btn_register {
  margin-bottom: -1rem;
}
.or {
  position: absolute;
  bottom: 0.4rem;
  left: 50%;
  transform: translateX(-50%);
  color: #333333;
  min-width: 5rem;
  font-size: 1.6rem;
  margin-top: -1.5rem;
  background: #fff;
}

.third_icon {
  font-size: 3.2rem;
  margin: 2rem 2rem;
  cursor: pointer;
}
.blue {
  fill: #3b5998;
}
.account {
  font-size: 1.5rem;
  color: #707070;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.account Link,
.account a {
  color: #0d99ff;
  text-decoration: none;
  font-weight: 600;
}
.err_msg {
  max-width: 28rem;
  font-size: 12px;
  color: red;
  font-weight: bold;
  display: none;
  margin: 0 auto;
}
.login_input:invalid[focused="true"] {
  border: 2px solid red;
}

.login_input:invalid[focused="true"] ~ span {
  display: block;
}
.account a:hover {
  text-decoration: underline;
}
@media (max-width: 1200px) {
  .left_logo {
    max-width: 50rem;
  }
  .login_form_wrapper {
    left: -20rem;
    max-width: 50rem;
  }
}
@media (max-width: 1024px) {
  .left_logo {
    max-width: 35rem;
    object-fit: cover;
    margin-top: 27rem;
    margin-bottom: 7rem;
  }
  .login_form_wrapper {
    left: -23rem;
    max-width: 45rem;
  }
}
@media (max-width: 768px) {
  .page_login_left {
    justify-content: start;
    padding-left: 2rem;
  }
  .left_logo {
    max-width: 32rem;
    object-fit: cover;
    margin-top: 30rem;
    margin-bottom: 4rem;
  }
  .login_form_wrapper {
    left: -23rem;
    max-width: 42rem;
  }
}
@media (max-width: 500px) {
  .page_wrapper_login {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
  .page_login_left {
    display: none;
  }
  .login_form_wrapper {
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
